@mixin flex-v {
  display: flex;
  align-items: center;
}
@mixin flex-h {
  display: flex;
  justify-content: center;
}
@mixin flex-vh {
  display: flex;
  align-items: center;
  justify-content: center;
}