$font-size: 1rem;
$font-family: 'Noto Sans', sans-serif;
$background-color: #fff;
$font-color: #B0B0B0;

$link-color: #1A4F8B;

$button-border-radius: 8px;
$button-primary-color: #FFFFFF;
$button-primary-bg: #1A4F8B;

$input-border: #C3C3C3;
$input-border-radius: 8px;
$input-active-color: #1A4F8B;
$input-font-color: #767676;