.app-forgot-password {
  padding-top: 74px;
  &-banner {
    background: url("../images/forgot-password-illustration.png") 0 0 no-repeat;
    background-size: cover;
  }
  .app-form {
    .app-form-email {
      margin-bottom: 36px;
    }
  }
  .app-footer {
    @include flex-h;
  }
}